includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# Not sure about given data - better not to fix that without knowledge
		- '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
		- '#^Property Contributte\\Social\\Google\\Analytics\\Campaign\\Campaign\:\:\$content \(string\) does not accept string\|null\.$#'
		- '#^Property Contributte\\Social\\Google\\Analytics\\Campaign\\Campaign\:\:\$term \(string\) does not accept string\|null\.$#'
		- '#^Method Contributte\\Social\\Twitter\\TweetButton\\TweetButton\:\:addHashtag\(\) has parameter \$hashtag with no typehint specified\.$#'
		- '#^Only booleans are allowed in an if condition, string\|null given\.$#'
		- "#^Casting to bool something that's already bool.$#"
