{block}
<div id="fb-root"></div>
<script n:syntax="double">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1{{ifset $appId}}&appId={{$appId|noescape}}{{/ifset}}&version={{$apiVersion|noescape}}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>